Image Input&Output-Base 64.json
{
  "name": "Image Input&Output-Base 64",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"markdown_content\": \"This is a picture\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        32
      ],
      "id": "fe8ff40b-b2a6-409b-a645-705ac97d9509",
      "name": "FinalOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.instruction }}",
        "options": {
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        32
      ],
      "id": "e9c3abf9-3785-4d01-b470-05a5d1c79a7b",
      "name": "edit image agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemini-2.5-flash-image-preview",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        224
      ],
      "id": "a065aa5c-1afb-4493-8edb-6c9c2a76b524",
      "name": "gemini-2.5-flash-image",
      "credentials": {
        "openAiApi": {
          "id": "gX4wl7HuoM0XrmkH",
          "name": "MuleRouter"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=image_url.url",
        "binaryPropertyName": "image_output",
        "options": {
          "fileName": "image.png",
          "mimeType": "image/png"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        944,
        32
      ],
      "id": "46bd4276-9ea4-43a6-b146-d9a62e4a3ff0",
      "name": "Convert base64 to File"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        768,
        32
      ],
      "id": "5ac07fa4-99ea-4484-93c4-c796521db3bb",
      "name": "content extract image"
    },
    {
      "parameters": {
        "formTitle": "aaa",
        "formFields": {
          "values": [
            {
              "fieldLabel": "image",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            },
            {
              "fieldLabel": "instruction",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        192,
        32
      ],
      "id": "93435c7e-f92a-43b4-9473-1db8b2a454b5",
      "name": "On form submission",
      "webhookId": "7dc655a8-203f-491a-9476-d0fb4a025e8b"
    }
  ],
  "pinData": {},
  "connections": {
    "edit image agent": {
      "main": [
        [
          {
            "node": "content extract image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gemini-2.5-flash-image": {
      "ai_languageModel": [
        [
          {
            "node": "edit image agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert base64 to File": {
      "main": [
        [
          {
            "node": "FinalOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "content extract image": {
      "main": [
        [
          {
            "node": "Convert base64 to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "edit image agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "efb6f43e-9fbf-4f62-b35b-a830c6a6e1ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "697c2925acde2b73d75889d1e2557aa1c20b854dcdae759463ade599a1904887"
  },
  "id": "wcMLoF1qA1Qdw4Pa",
  "tags": []
}