Image Input&Output-Base 64.json
{
  "name": "Image Input& Image Output",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"markdown_content\": \"This is a picture\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -96
      ],
      "id": "409d5550-b2b7-4e88-a88b-2246c8ee690b",
      "name": "FinalOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemini-2.5-flash-image-preview",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        96
      ],
      "id": "0cf61405-f7f1-4066-b6d1-f933ab776f7d",
      "name": "gemini-2.5-flash-image",
      "credentials": {
        "openAiApi": {
          "id": "gX4wl7HuoM0XrmkH",
          "name": "MuleRouter"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=image_url.url",
        "binaryPropertyName": "image_output",
        "options": {
          "fileName": "image.png",
          "mimeType": "image/png"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        608,
        -96
      ],
      "id": "a4dfa472-35b6-432a-a5ca-584e37b15c04",
      "name": "Convert base64 to File"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        272,
        -96
      ],
      "id": "fb4a343b-6c8e-4d9e-a411-37e83004c62e",
      "name": "content extract image"
    },
    {
      "parameters": {
        "jsCode": "// 筛选包含image_url字段的item\nreturn items.filter(item => {\n  return item.json.image_url !== undefined;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -96
      ],
      "id": "7cceb914-62f0-4d97-b2fb-2a57ade00fdc",
      "name": "Get Image Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.instruction }}",
        "options": {
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -80,
        -96
      ],
      "id": "45eaba2d-968a-4cdc-bf47-5ed7f89833cd",
      "name": "generate image agent"
    },
    {
      "parameters": {
        "formTitle": "aaa",
        "formFields": {
          "values": [
            {
              "fieldLabel": "instruction",
              "requiredField": true
            },
            {
              "fieldLabel": "image",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -272,
        -96
      ],
      "id": "0988723e-1a4b-4bab-a984-3db85f2d90ba",
      "name": "On form submission",
      "webhookId": "7dc655a8-203f-491a-9476-d0fb4a025e8b"
    }
  ],
  "pinData": {},
  "connections": {
    "gemini-2.5-flash-image": {
      "ai_languageModel": [
        [
          {
            "node": "generate image agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert base64 to File": {
      "main": [
        [
          {
            "node": "FinalOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "content extract image": {
      "main": [
        [
          {
            "node": "Get Image Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Items": {
      "main": [
        [
          {
            "node": "Convert base64 to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate image agent": {
      "main": [
        [
          {
            "node": "content extract image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "generate image agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2b407e9-8061-478c-81e5-31f733b0a45b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "697c2925acde2b73d75889d1e2557aa1c20b854dcdae759463ade599a1904887"
  },
  "id": "906hYnmXXNTSyxKW",
  "tags": []
}
